#cloud-config

# Autor: Jan Josuran

package_update: true
package_upgrade: true
packages:
  - mariadb-server
  - mariadb-client

write_files:
  - path: /tmp/setup-db.sql
    content: |
      CREATE DATABASE IF NOT EXISTS nextcloud CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
      CREATE USER IF NOT EXISTS 'nextclouduser'@'%' IDENTIFIED BY 'jucbB6MPMWCzth';
      GRANT ALL PRIVILEGES ON nextcloud.* TO 'nextclouduser'@'%';
      FLUSH PRIVILEGES;

runcmd:
  - sed -i 's/bind-address.*=.*/bind-address = 0.0.0.0/' /etc/mysql/mariadb.conf.d/50-server.cnf
  - systemctl restart mariadb
  - systemctl enable mariadb
  - mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED BY 'fhsjfB64d2WCgth';"
  - mysql -u root -padmin < /tmp/setup-db.sql
  - echo "NextcloudDB Installation abgeschlossen"

final_message: "NextcloudDB ist bereit"
